.status {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  margin-right: 5px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
