.friendList {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 320px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
